<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alias</title>

    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.14/css/aui.css" media="all">
    <link rel="stylesheet" href="static/css/app.css" media="all">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="static/lib/almond.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.14/css/aui-experimental.css" media="all">
    <script src="//aui-cdn.atlassian.com/aui-adg/5.8.14/js/aui.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.8.14/js/aui-experimental.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.8.14/js/aui-soy.js"></script>

    <meta name="acpt" content="{{ signed_request }}">
    <meta name="base-url" content="{{ base_url }}">

</head>
<body class="">
{% if aliases %}
<div class="alias-list toggle">
    <ul class="aliases">
        {% for alias in aliases %}
        <li class="">
            {% include('_alias.html') %}
        </li>
        {% endfor %}
    </ul>
    <a class="aui-nav-item aui-inline-dialog-trigger">
        <span class="aui-icon aui-icon-small aui-iconfont-add-small"></span>
        <span class="add-alias">Add an alias</span>
    </a>
</div>
{% else %}
<div class="spy toggle">
    <img src="static/Spy.png"/>
    <a class="aui-nav-item aui-inline-dialog-trigger">
        <span class="aui-icon aui-icon-small aui-iconfont-add-small"></span>
        <span class="add-alias">Add an alias</span>
    </a>
</div>
{% endif %}


<form class="aui top-label hidden toggle">
    <fieldset class="top-label">
            <input id="room" type="hidden" value="{{ room }}" />
        <div class="field-group top-label">
            <label for="alias-name">Alias name</label>
            <input class="text" type="text" id="alias-name" name="alias-name"
                   placeholder="@alias">
        </div>
        <div class="field-group top-label">
            <label for="users">User mentions</label>
            <select id="select2-users" multiple="">
                <option value="jblankenberg">jblankenberg</option>
                <option value="chensley">chensley</option>
                <option value="rondo">rondo</option>
                <option value="saracuda">saracuda</option>
            </select>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit" type="submit" value="Save" id="save-alias">
                <a class="cancel">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>
<script src="static/js/app.js"></script>
</body>
</html>
