html, body {
    background-color: #fff;
    height: 100%;
}

.spy {
    vertical-align: middle;
    text-align: center;
}
.spy img {
    width: 111px;
    height: auto;
    margin: 20px auto;
    display: inherit;
}

.spy a, .alias-list a {
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.aliases > li {
    border: solid thin #cccccc;
    border-left: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
    border-top: 0;
    border-right: 0;
    cursor: pointer;
}

ul.aliases > li:hover h4 {
    color: #3B73AF;
}

h4 {
    color: #666;
    float:left;
}

div.alias {
    width: 100%;
}

div.mentions {
    float:right;
}

ul.mentions > li {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    border-top: 0;
    border-right: 0;
}

ul.mentions > li > .mention {
    color: #666;
}
form {
    padding: 10px;
}
